/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color_01: black;
  --color_02: white;
  --color_03: #006530;
  --color_04: #f19000;
  --color_05: #acc90d;

  --font_01: "Poppins", sans-serif;
}

body {
  font-family: var(--font_01);
  background-color: var(--color_02);
}