/*Reset*/
* {margin: 0; padding: 0; box-sizing: border-box;}

:root {
    --color_01: black;
    --color_02: white;
    --color_03: #006530;
    --color_04: #f19000;
    --color_05: #acc90d;

    --font_01: "Poppins";
}

body {
  font-family: var(--font_01);
  background-color: var(--color_02);
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/*------------------------BLOCO 1: SIDE BAR------------------------*/

/*Side Bar*/
.sidebar {
  width: 350px;
  background-color: var(--color_03);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: width 0.5s ease;
  overflow: hidden;
}

.sidebar.active { /*Quando ativa*/
  width: 50%;
  justify-content: flex-start;
  padding-left: 80px;
}

/*Menu*/
.menu {
  display: none;
  flex-direction: column;
  color: var(--color_02);
  width: 100%;
}

.sidebar.active .menu {display: flex;}

.sidebar.active .start_btn {display: none;}

/*Menu - Lista*/
.menu ul {
  list-style: none;
  margin-top: 100px;
}

.menu li {margin-bottom: 40px;}

.menu a {
  text-decoration: none;
  color: var(--color_02);
  font-size: 2rem;
  font-weight: 600;
  transition: opacity 0.3s;
}

.menu a:hover {color: var(--color_05);}

/*Botão fechar*/
.close_btn {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 1.5rem;
  cursor: pointer;
}

/*Botão de começar*/
.start_btn {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--color_02);
  background: transparent;
  color: var(--color_02);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.start_btn:hover {background-color: var(--color_05);}

/*------------------------BLOCO 2: LOGO------------------------*/

/*Área principal*/
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*Logo e título*/
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.logo img {
    height: 160px;
    margin-bottom: 10px;
}

.logo h1 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--color_03);
  margin-top:-25px;
}

/*------------------------BLOCO 3: IMAGEM BOTTOM 1------------------------*/

/*Imagem | bottom 01*/
.hero {
  height: 60%;
  width: 100%;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/*------------------------PÁGINA: Conheça a 3Bio------------------------*/
.content {
  height: 45%;
  padding: 60px;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.content p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  max-width: 1100px;
  line-height: 1.5;
}
