/*------------------------MEDIA QUERIES------------------------*/

/* Telas menores (celulares e tablets) */
@media (max-width: 768px) {
  body {
    flex-direction: column;
    overflow: auto;
  }

  /* Sidebar no topo ocupando toda a largura */
    .start_btn {
        width: 110px;
        height: 110px;
        animation: pulse 2s infinite;
        font-size: 0.8rem;
    }

    .sidebar {
        flex-direction: column;
        width: 100%;
        height: 250px;
        justify-content: center;
        padding-left: 0;
    }

    .sidebar.active {
        width: 100%;
        justify-content: center;
        padding-left: 0;
    }

    .menu {
        flex-direction: column;
        align-items: left;
    }

    .menu li {
        margin-bottom: 5px;
    }

    .menu a {
        font-size: 0.9rem;
        top: 30px;
    }

    .social_icons {
        flex-direction: row;
        top: -30px;
        left: 50%;
    }

    /* Área principal em coluna */
    .main {
        width: 100%;
        padding: auto;
    }

    /* Remover imagens em telas menores */
    .hero_img {
        display: none;
    }

    .logo .index_logo_img{
        width: 60%;
        height: auto;
        padding-top: 5px;
    }

    .hero .hero_index_img {
        width: 100%;
        height: auto;
    }

    /* Títulos com animação */
    .content h1,
    .contato_content h1 {
        font-size: 2rem;
        text-align: center;
        animation: fadeIn 2s ease-in-out infinite alternate;
    }
    
    .logo .title_index {
        font-size: 1.2rem;
        padding-bottom: 5px;
    }

    /* Texto responsivo */
    .content p,
    .contato_content p {
        font-size: 1rem;
        text-align: left;
        padding-top: 8px;
    }

    /* Footer ajustado */
    footer {
        width: 100%;
        position: relative;
        font-size: 0.7rem;
    }
}

/* Telas muito grandes (monitores ultrawide) */
@media (min-width: 1400px) {
  .content h1,
  .contato_content h1 {
    font-size: 2.8rem;
  }

  .content p,
  .contato_content p {
    font-size: 1.2rem;
    max-width: 1400px;
    padding-top: 5px;
  }
}

/*------------------------ANIMAÇÕES------------------------*/
@keyframes fadeIn {
  from {opacity: 0.5; transform: scale(0.95);}
  to {opacity: 1; transform: scale(1);}
}
