/*SIDEBAR GLOBAL*/
.sidebar {
  width: 25%;
  background-color: var(--color_03);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.sidebar.active { 
  width: 35%;
  justify-content: flex-start;
  padding-left: 20px;
}

/* MENU */
.menu {
  display: none;
  flex-direction: column;
  justify-content: center; /* CENTRALIZA VERTICAL */
  align-items: flex-start; /* ALINHA À ESQUERDA */
  height: 100%;
  width: 100%;
  padding: 40px;
  color: var(--color_02);
  gap: 40px;
}

.sidebar.active .menu { display: flex; }
.sidebar.active .start_btn { display: none; }

/* LISTA */
.menu ul {
  list-style: none;
}

.menu li {
  margin-bottom: 20px;
}

.menu a {
  text-decoration: none;
  color: var(--color_02);
  font-size: 1.4rem;
  font-weight: 600;
}

.menu a:hover {
  color: var(--color_05);
}

/* BOTÕES */
.close_btn {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 1.5rem;
  cursor: pointer;
}

.start_btn {
  width: 190px;
  height: 190px;
  margin-bottom: 40%;
  border-radius: 50%;
  border: 2px solid var(--color_02);
  background: transparent;
  color: var(--color_02);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

/* SOCIAL */
.social_icons {
  display: flex;
  gap: 20px;
}

/* COPY */
.copy {
  font-size: 0.8rem;
}