.sidebar {
  width: 25%;
  height: 100vh;
  background-color: var(--color_03);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.sidebar.active { 
  width: 35%;
  justify-content: flex-start;
  padding-left: 20px;
}

/*MENU*/
.menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 40px;
  gap: 40px;
  color: var(--color_02);
}

.sidebar.active .menu { display: flex; }
.sidebar.active .start_btn { display: none; }

/*LISTA*/
.menu ul {
  list-style: none;
}

.menu li {
  margin-bottom: 20px;
}

.menu a {
  text-decoration: none;
  color: var(--color_02);
  font-size: 1.4rem;
  font-weight: 600;
}

.menu a:hover {
  color: var(--color_05);
}

/*BOTÕES*/
.close_btn {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.start_btn {
  width: 130px;
  height: 130px;
  border-radius: 50%;

  background: linear-gradient(145deg, #007a3d, #005a2a);
  color: white;

  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  /* Efeito 3D */
  box-shadow: 
    6px 6px 12px rgba(0, 0, 0, 0.4),
    -4px -4px 8px rgba(255, 255, 255, 0.1);

  transition: all 0.2s ease;
}

.start_btn i {
  font-size: 2.3rem;
}

.social_icons {
  display: flex;
  gap: 20px;
}

.copy {
  font-size: 0.8rem;
}